<ion-view title="My Contribution" id="page4">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="list">
      <h1 class="item item-title item-balanced">Polls Commented on</h1>
      <div class="list card stable-bg" ng-repeat="opinion in opinions">
        <div class="item">
          <!--<img src="img/arya.jpg">-->
          <h2><a ui-sref="polls.viewPoll({pollId: opinion.poll.id})" class="link-unstyled"> {{opinion.poll.title}}</a></h2>
          <p>Posted by {{opinion.poll.user.name}} <span am-time-ago="opinion.poll.created_at"></span></p>
        </div>
        <div class="item item-body">
          <a ui-sref="polls.viewPoll({pollId: opinion.poll.id})" class="link-unstyled">  {{opinion.poll.description}} </a>
          <p>
            <a class="subdued" ui-sref="polls.viewPoll({pollId: opinion.poll.id})">{{opinion.poll.votes.length}} votes</a>
            <a class="subdued" ui-sref="polls.viewPoll({pollId: opinion.poll.id})">{{opinion.poll.opinions.length}}  Comments</a>
          </p>
        </div>
        <div class="item item-balanced tabs tabs-default tabs-icon-left">
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ui-sref="polls.vote({pollId: opinion.poll.id})"><i class="icon ion-thumbsup"></i> vote </a>
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ui-sref="polls.viewPoll({pollId: opinion.poll.id})">
          <i class="icon ion-chatbox"></i> Comment </a>

          <!--<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i> Share </a>-->
        </div>
      </div>
      <h1 class="item item-title item-calm">Polls Voted for</h1>
      <div class="list card stable-bg" ng-repeat="vote in votes">
        <div class="item">
          <!--<img src="img/arya.jpg">-->
          <h2><a ui-sref="polls.viewPoll({pollId: vote.poll.id})" class="link-unstyled"> {{vote.poll.title}}</a></h2>
          <p>Posted by {{vote.poll.user.name}} <span am-time-ago="vote.poll.created_at"></span></p>
        </div>
        <div class="item item-body">
          <a ui-sref="polls.viewPoll({pollId: vote.poll.id})" class="link-unstyled">  {{vote.poll.description}} </a>
          <p>
            <a class="subdued" ui-sref="polls.viewPoll({pollId: vote.poll.id})">{{vote.poll.votes.length}} votes</a>
            <a class="subdued" ui-sref="polls.viewPoll({pollId: vote.poll.id})">{{vote.poll.opinions.length}}  Comments</a>
          </p>
        </div>
        <div class="item tabs tabs-default tabs-icon-left">
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ui-sref="polls.viewPoll({pollId: vote.poll.id})"> <i class="icon ion-chatbox"></i> Comment </a>
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ui-sref="polls.result({pollId: poll.id})"><i class="icon ion-pie-graph"></i> Results </a>
          <!--<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i> Share </a>-->
        </div>
      </div>
    </ion-list>
    <!--<ion-list>
      <div class="card list " ng-repeat="profilelist in profiles">
        <div class="item item-divider">{{profilelist.name}}</div>
        <div class="item item-text-wrap">{{profilelist.deseg}}</div>
      </div>
    </ion-list>-->


  </ion-content>
</ion-view>
