<ion-view view-title="Login" align-title="left" hide-nav-bar="true">
  <ion-content style="background: url(img/material-graphite.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <!--<h1>MyMaoni</h1>-->
      </div>
    </div>
    <form action="" ng-submit="login()">
    <div class="list list-inset removePM ">
      <label class="item item-input item-floating-label">
           <span class="input-label">Email Address</span>
           <input type="email" ng-model="data.email" placeholder="Email Address" >
        </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="data.password" placeholder="Password" >
        </label>
    </div>
    <div class="padding">
      <!--<button class="button button-full button-assertive ink">Login</button>-->
      <div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="login()" type="submit"> Login </button> </div>

    </div>
    </form>
    <div class=" calm">
      <span class="">No account?</span> <a ui-sref="signup.basic" class="">signup</a>
    </div>
    <!--<div class="button-bar social-login">
      <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
      <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
      <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>-->
  </ion-content>
</ion-view>
