<ion-view id="tabs" hide-nav-bar="false" >
  <ion-tabs class="tabs-assertive tabs-icon-bottom" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-home" href="#/tabs/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Polls" icon="ion-clipboard" href="#/tabs/polls" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contribution" icon="ion-chatboxes" href="#/tabs/talk" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
